.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10%;
}
.usuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: larger;
}
.password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 50%;
}
.titleusuario{
    font-weight: bold;
}